@import "partials/nosotros";
@import "partials/productos";
@import "partials/contacto";

$colorbase: #9ad5ff;
$color2: #ffb379;
$color3: #567ccf;
$letranav: 'Truculenta', sans-serif; 
$letramain: 'Truculenta', sans-serif;
$letrafooter: 'Truculenta', sans-serif; 

// fuentes 
// 'Inconsolata', monospace; 
// 'Dosis', sans-serif;
// 'Abel', sans-serif;
// 'Truculenta', sans-serif;
// 'M PLUS Code Latin', sans-serif;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    margin: 5px;
    background-color: $colorbase;
    border-radius: 5px;
    border: 2px solid $color3;
    .navbar{
        .logo{
            height: 100px;
            width: 100px;
            border: 3px solid black;
            border-radius: 50px;
            &:hover{
                transform: scale(1.1);
                transition: all 0.7s;
            }
        }
        .navbar-collapse{
            .nav-item{
                .nav-link{
                    color: #000000;
                    font-family: $letranav;
                    font-weight: bold;
                    
                    &:hover{
                        color: $color3;
                        text-shadow: 0 0 5px #ffffff;
                        font-weight: bold;
                    } 
                }
            }
            .form-inline{
                .form-control::placeholder{
                    font-family: $letranav; 
                    font-weight: bold;
                    color: #000000;
                }
                .btn{
                    color: #ffffff;
                    border-color: rgb(0, 0, 0);
                    background-color: $color2;
                }
            }
        }
    }
    .frase{
        margin-top: 5px;
        .h4{
            font-family: $letranav;
            text-shadow: 0 0 5px #ffffff;
            font-weight: bold;
            font-style: italic;
            text-align: center;
        }
    }
}

.slide{
    margin-top: 5px;
    margin: 0px 5px;
    .carousel-inner{
        img{
            height: 45vh;
            background-position: center;
            background-size: cover;
        }
    }
}

main{
    .divPadre{
        background-color: $colorbase;
        margin: 5px 5px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 2px solid $color3;
        .divArriba{
            border-bottom: 2px solid $color3;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 80%;
            .camion{
                border: 2px solid $color3;
                border-radius: 5px;
                padding: 5px;
                margin-top: 20px;
                margin-bottom: 10px;
                background-color: $color2;
                .bi-truck{
                    color: #ffffff;
                    height: 30px;
                    width: 30px;
                }
            }
            .realizamosDelivery{
                text-shadow: 0 0 5px rgb(255, 255, 255);
                font-family: $letramain;
                font-weight: bold;
                color: $color3;
            }
            .divWsp{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                padding: 10px;
                .wsp{
                    display: flex;
                    border: 2px solid $color3;
                    border-radius: 5px;
                    padding: 4px;
                    margin: 0px 10px;
                    background-color: $color2;
                    .bi-whatsapp{
                        height: 25px;
                        width: 25px;
                        color: white;
                    }
                }
                .p{
                    margin-top: auto;
                    margin-bottom: auto;
                    font-size: 18px;
                    color: $color3;
                    font-family: $letramain;
                    font-weight: bold;
                    a{
                        color: $color3;
                        text-shadow: 0 0 5px rgb(255, 255, 255);
                    }
                }
            }
        }
        .divAbajo{
            display: flex;
            flex-direction: column;
            align-items: center;
            .divMpago{
                display: flex;
                justify-content: center;
                justify-content: space-evenly;
                align-items: center;
                width: 100%;
                padding: 15px;
                margin-top: 8px;
                .tarjC{
                    border: 2px solid $color3;
                    border-radius: 5px;
                    background-color: $color2;
                    padding: 2px 4px;
                    .bi-credit-card{
                        color: white;
                        height: 30px;
                        width: 30px;
                    }
                }
                .mercadoPago{
                    height: 40px;
                    width: 40px;
                    border: 2px solid $color3;
                    border-radius: 20px;
                }
                .plata{
                    border: 2px solid $color3;
                    border-radius: 5px;
                    background-color: $color2;
                    padding: 2px 4px;
                    .bi-cash-coin{
                        color: white;
                        height: 30px;
                        width: 30px;
                    }
                }
            }
            .mediosDePago{
                text-align: center;
                color: $color3;
                font-family: $letramain; 
                font-weight: bold;
                text-shadow: 0 0 5px rgb(255, 255, 255);
                padding: 10px;
                margin-bottom: 20px;
            }
        }
    }
    .h2pD{
        color: $color3;
        background-color: $color2;
        padding: 5px;
        margin: 5px;
        border-radius: 5px;
        border: 2px solid $color3;
        text-shadow: 0 0 5px rgb(255, 255, 255);
        font-style: italic;
        font-family: $letramain;
        font-weight: bold;
        text-align: center;
    }
    .carrusel2{
        .carrousel2{
            img{
                height: 45vh;
            }
            .carousel-caption{
                h5{
                    font-family: $letramain;
                    font-weight: bold;
                }
                p{
                    font-family: $letramain;
                    font-weight: bold;
                }
            }
        }
    }
    .pDest{
        display: none;
    }
}

footer{
    background-color: $colorbase;
    border: 2px solid $color3;
    margin: 5px 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .divEncontranos{
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 2px solid $color3;
        width: 85%;
        .encontranos{
            padding: 8px;
            color: $color3;
            text-shadow: 0 0 5px white;
            font-family: $letrafooter;
            font-weight: bold;
        }
        .divE{
            display: flex;
            justify-content: center;
            width: 100%;
            padding: 7px;
            .bi-geo-alt{
                height: 15px;
                width: 15px;
                align-self: center;
            }
            p{
                color: $color3;
                text-shadow: 0 0 5px rgb(255, 255, 255);
                margin: auto 5px;
                font-family: $letrafooter;
                font-weight: bold;
            }
        }
        .pSm{
            padding: 8px;
            font-family: $letrafooter;
            font-weight: bold;
        }
    }
    .divLogoFooter{
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 2px solid $color3;
        width: 85%;
        .logo{
            height: 80px;
            width: 80px;
            border: 2px solid black;
            border-radius: 40px;
            margin: 8px;
            &:hover{
                transform: scale(1.1);
                transition: all 0.7s;
            }
        }
        .contactanos{
            color: $color3;
            text-align: center;
            text-shadow: 0 0 5px white;
            font-family: $letrafooter;
            font-weight: bold;
            padding: 10px 0px 0px 0px;
        }
        .divF2{                
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            padding: 10px;
            .bi-whatsapp{
                margin: 0px 5px;
                height: 20px;
                width: 20px;
            }
            .p{
                margin-top: auto;
                margin-bottom: auto;
                color: $color3;
                text-shadow: 0 0 5px white;
                font-family: $letrafooter;
                font-weight: bold;
                a{
                    color: $color3;
                    text-shadow: 0 0 5px white;
                }
            }
        }
    }
    .divRedes{
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 2px solid $color3;
        width: 85%;
        .seguinos{
            color: $color3;
            text-shadow: 0 0 5px white;
            padding: 8px;
            font-family: $letrafooter;
            font-weight: bold;
        }
        .divR{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            padding: 10px;
            .bi{
                height: 20px;
                width: 20px;
            }
            p{
                margin: auto 5px;
                font-family: $letrafooter;
                font-weight: bold;
                a{
                    color: $color3;
                    text-shadow: 0 0 5px white;
                }
            }
        }
    }
    .copy{
        text-align: center;
        margin-top: 8px;
    }
}

@media only screen and (min-width:480px){
    .slide{
        .carousel-inner{
            img{
                height: 65vh;
            }
        }
    }
    main{
        .carrusel2{
            .carrousel2{
                img{
                    height: 65vh;
                }
            }
        }
        .pDest{
            display: none;
        }
    }
}

@media only screen and (min-width:768px){
    header{
        .navbar{
            .logo{
                height: 150px;
                width: 150px;
                border: 4px solid black;
                border-radius: 75px;
            }
            .navbar-collapse{
                .nav-item{
                    .nav-link{
                        font-size: 22px;
                    }
                }
                .form-inline{
                    .form-control::placeholder{
                        font-size: 20px;
                    }
                }
            }
        }
        .frase{
            .h4{
                font-size: 35px;
            }
        }
    }
    .slide{
        .carousel-inner{
            img{
                height: 80vh;
            }
        }
    }
    main{
        .divPadre{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;
            grid-template-areas: 
            "divArriba divAbajo";
            .divArriba{
                grid-area: divArriba;
                border-bottom: none;
                width: auto;
                border-right: 2px solid $color3;
                padding: 30px 10px;
                .camion{
                    border: 3px solid $color3;
                    padding: 5px;
                    margin-top: 20px;
                    margin-bottom: 10px;
                    background-color: $color2;
                    .bi-truck{
                        height: 45px;
                        width: 45px;
                    }
                }
                .realizamosDelivery{
                    font-size: 28px;
                    font-weight: bold;
                }
                .divWsp{
                    .wsp{
                        border: 3px solid $color3;
                        padding: 5px;
                        margin: 0px 10px;
                        .bi-whatsapp{
                            height: 28px;
                            width: 28px;
                        }
                    }
                    .p{
                        font-size: 25px;
                    }
                }
            }
            .divAbajo{
                grid-area: divAbajo;
                width: auto;
                padding: 30px 10px;
                .divMpago{
                    .tarjC{
                        border: 3px solid $color3;
                        padding: 2px 4px;
                        .bi-credit-card{
                            height: 45px;
                            width: 45px;
                        }
                    }
                    .mercadoPago{
                        height: 80px;
                        width: 80px;
                        border: 3px solid $color3;
                        border-radius: 40px;
                    }
                    .plata{
                        border: 3px solid $color3;
                        padding: 2px 4px;
                        .bi-cash-coin{
                            height: 45px;
                            width: 45px;
                        }
                    }
                }
                .mediosDePago{
                    font-size: 25px;
                }
            }
        }
        .h2pD{
            font-size: 40px;
        }
        .carrusel2{
            .carrousel2{
                .carousel-inner{
                    img{
                        height: 70vh;
                    }
                    .carousel-caption{
                        h5{
                            color: #000000;
                            text-shadow: 0 0 5px white;
                            font-size: 25px;
                        }
                        p{
                            color: #000000;
                            text-shadow: 0 0 5px white;
                            font-size: 25px;
                        }
                    }
                }
            }
        }
        .pDest{
            display: none;
        }
    }
    footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: 
        "divEncontranos divLogoFooter divRedes"
        "copy copy copy";
        .divEncontranos{
            grid-area: divEncontranos;
            border-bottom: none;
            margin-top: 15px;
            width: auto;
            padding: 20px;
            .encontranos{
                font-size: 20px;
            }
            .divE{
                .bi-geo-alt{
                    height: 18px;
                    width: 18px;
                }
                .h6{
                    font-size: 18px;
                }
            }
            .pSm{
                font-size: 18px;
                text-align: center;
            }
        }
        .divLogoFooter{
            grid-area: divLogoFooter;
            border-bottom: none;
            width: auto;
            border-left: 3px solid $color3;
            border-right: 3px solid $color3;
            padding: 20px;
            width: auto;
            .logo{
                width: 100px;
                height: 100px;
                border-radius: 50px;
            }
            .contactanos{
                font-size: 20px;
            }
            .divF2{
                .bi-whatsapp{
                    height: 20px;
                    width: 20px;
                }
                .p{
                    font-size: 18px;
                }
            }
        }
        .divRedes{
            grid-area: divRedes;
            border-bottom: none;
            width: auto;
            padding: 20px;
            width: auto;
            .seguinos{
                font-size: 20px;
                text-align: center;
            }
            .divR{
                .bi{
                    height: 20px;
                    width: 20px;
                }
                p{
                    font-size: 18px;
                }
            }
        }
        .copy{
            grid-area: copy;
        }
    }
}

@media only screen and (min-width:1024px){
    header{
        .navbar{
            .logo{
                height: 170px;
                width: 170px;
                border-radius: 85px;
                margin: 20px 20px 0px 20px;
            }
            .navbar-collapse{
                .nav-item{
                    .nav-link{
                        font-size: 25px;
                    }
                }
                .form-inline{
                    .form-control::placeholder{
                        font-size: 22px;
                    }
                }
            }
        }
        .frase{
            .h4{
                font-size: 45px;
            }
        }
    }
    .slide{
        .carousel-inner{
            img{
                height: 80vh;
            }
        }
    }
    main{
        .divPadre{
            .divArriba{
                padding: 80px 10px;
                .camion{
                    border-radius: 15px;
                    padding: 8px;
                    margin-bottom: 20px;
                    .bi-truck{
                        height: 55px;
                        width: 55px;
                    }
                }
                .realizamosDelivery{
                    font-size: 30px;
                }
                .divWsp{
                    .wsp{
                        padding: 10px;
                        margin: 0px 10px;
                        border-radius: 15px;
                        .bi-whatsapp{
                            height: 35px;
                            width: 35px;
                        }
                    }
                    .p{
                        font-size: 28px;
                    }
                }
            }
            .divAbajo{
                padding: 80px 10px;
                .divMpago{
                    .tarjC{
                        border-radius: 15px;
                        padding: 10px;
                        .bi-credit-card{
                            height: 50px;
                            width: 50px;
                        }
                    }
                    .mercadoPago{
                        height: 100px;
                        width: 100px;
                        border-radius: 50px;
                    }
                    .plata{
                        padding: 10px;
                        border-radius: 15px;
                        .bi-cash-coin{
                            height: 45px;
                            width: 45px;
                        }
                    }
                }
                .mediosDePago{
                    font-size: 28px;
                }
            }
        }
        .h2pD{
            font-size: 50px;
        }
        .carrusel2{
            display: none;
        }
        .pDest{
            padding: 40px 0px 40px 0px;
            margin: 5px;
            border-radius: 5px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto;
            grid-template-areas: 
            "producto1 producto2"
            "producto3 producto4";
            grid-row-gap: 50px;
            background-color: $colorbase;
            border: 2px solid $color3;
            .producto{
                align-self: center;
                justify-self: center;
                background-color: $color2;
                border-radius: 10px;
                border: 4px solid $color2;
                img{
                    border-radius: 8px;
                    height: 250px;
                    width: 380px;
                    background-position: center;
                    background-size: cover;
                }
                h4{
                    margin-top: 10px;
                    text-align: center;
                    font-family: $letrafooter;
                    font-weight: bold;
                    font-size: 30px;
                }
                p{
                    text-align: center;
                    font-family: $letrafooter;
                    font-weight: bold;
                    font-size: 25px;
                }
            }
            .producto1{
                grid-area: producto1;
            }
            .producto2{
                grid-area: producto2;
            }
            .producto3{
                grid-area: producto3;
            }
            .producto4{
                grid-area: producto4;
            }
        } 
    }
}

@media only screen and (min-width:1160px){
    header{
        .navbar{
            .logo{
                margin: 30px 35px 0px 35px;
            }
            .navbar-collapse{
                .nav-item{
                    .nav-link{
                        font-size: 28px;
                    }
                }
            }
        }
        .frase{
            .h4{
                font-size: 55px;
            }
        }
    }
}


