@import "partials/nosotros";
@import "partials/productos";
@import "partials/contacto";

$colorbase: #9ad5ff;
$colortitulos: #ffa35d;
$colorborde: #567ccf;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    margin: 5px;
    background-color: $colorbase;
    border-radius: 5px;
    border: 2px solid $colorborde;
    .logo{
        height: 100px;
        width: 100px;
        border: 3px solid black;
        border-radius: 50px;
        .logo:hover{
            transform: scale(1.1);
            transition: all 0.7s;
        }
    }
    .navbar-collapse{
        .nav-link{
            color: #ffffff;
            text-shadow: 0 0 5px #000000;
            .nav-link:hover{
                color: #5cbbff;
                text-shadow: 0 0 5px #ffffff;
            } 
        }
        .form-inline{
            .form-control::placeholder{
                color: #000000;
            }
            .btn{
                color: #ffffff;
                border-color: rgb(0, 0, 0);
                background-color: $colortitulos;
            }
        }
    }
    .frase{
        text-shadow: 0 0 5px #ffffff;
        font-style: italic;
        text-align: center;
        margin-top: 5px;
    }
}
.slide{
    margin-top: 5px;
    margin: 0px 5px;
    .carousel-inner{
        img{
            height: 45vh;
            background-position: center;
            background-size: cover
        }
    }
}

main{
    .divPadre{
        background-color: $colorbase;
        margin: 5px 5px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 2px solid $colorborde;
        .divArriba{
            border-bottom: 2px solid $colorborde;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 80%;
            .camion{
                border: 2px solid #567ccf;
                border-radius: 5px;
                padding: 5px;
                margin-top: 20px;
                margin-bottom: 10px;
                background-color: $colortitulos;
                .bi-truck{
                    color: #ffffff;
                    height: 30px;
                    width: 30px;
                }
            }
            .realizamosDelivery{
                text-shadow: 0 0 5px rgb(0, 0, 0);
                color: #ffa35d;
            }
            .divWsp{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                padding: 10px;
                .wsp{
                    display: flex;
                    border: 2px solid #567ccf;
                    border-radius: 5px;
                    padding: 4px;
                    margin: 0px 10px;
                    background-color: #ffa35d;
                    .bi-whatsapp{
                        height: 25px;
                        width: 25px;
                        color: white;
                    }
                }
                .p{
                    margin-top: auto;
                    margin-bottom: auto;
                    font-size: 18px;
                    color: $colorborde;
                    a{
                        color: $colorborde;
                        text-shadow: 0 0 5px rgb(255, 255, 255);
                    }
                }
            }
        }
        .divAbajo{
            display: flex;
            flex-direction: column;
            align-items: center;
            .divMpago{
                display: flex;
                justify-content: center;
                justify-content: space-evenly;
                align-items: center;
                width: 100%;
                padding: 15px;
                margin-top: 8px;
                .tarjC{
                    border: 2px solid #567ccf;
                    border-radius: 5px;
                    background-color: $colortitulos;
                    padding: 2px 4px;
                    .bi-credit-card{
                        color: white;
                        height: 30px;
                        width: 30px;
                    }
                }
                .mercadoPago{
                    height: 40px;
                    width: 40px;
                    border: 2px solid #567ccf;
                    border-radius: 20px;
                }
                .plata{
                    border: 2px solid #567ccf;
                    border-radius: 5px;
                    background-color: $colortitulos;
                    padding: 2px 4px;
                    .bi-cash-coin{
                        color: white;
                        height: 30px;
                        width: 30px;
                    }
                }
            }
            .mediosDePago{
                text-align: center;
                color: $colortitulos;
                text-shadow: 0 0 5px black;
                padding: 10px;
                margin-bottom: 20px;
            }
        }
    }
    .h2pD{
        color: $colorborde;
        background-color: $colortitulos;
        padding: 5px;
        margin: 5px;
        border-radius: 5px;
        border: 2px solid $colorborde;
        text-shadow: 0 0 5px rgb(255, 255, 255);
        font-style: italic;
        text-align: center;
    }
    .container{
        .carrousel2{
            img{
                height: 45vh;
            }
        }
    }
}

footer{
    background-color: $colorbase;
    border: 2px solid $colorborde;
    margin: 5px 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .divEncontranos{
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 2px solid $colorborde;
        width: 85%;
        .encontranos{
            padding: 8px;
            color: $colorborde;
            text-shadow: 0 0 5px white;
        }
        .divE{
            display: flex;
            justify-content: center;
            width: 100%;
            padding: 7px;
            .bi-geo-alt{
                height: 15px;
                width: 15px;
                align-self: center;
            }
            p{
                color: $colorborde;
                text-shadow: 0 0 5px rgb(255, 255, 255);
                margin: auto 5px;
            }
        }
        .pSm{
            padding: 8px;
        }
    }
    .divLogoFooter{
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 2px solid $colorborde;
        width: 85%;
        .logo{
            height: 80px;
            width: 80px;
            border: 2px solid black;
            border-radius: 40px;
            margin: 8px;
        }
        .contactanos{
            color: $colorborde;
            text-align: center;
            text-shadow: 0 0 5px white;
        }
        .divF2{                
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            padding: 10px;
            .bi-whatsapp{
                margin: 0px 5px;
                height: 20px;
                width: 20px;
            }
            .p{
                margin-top: auto;
                margin-bottom: auto;
                color: $colorborde;
                text-shadow: 0 0 5px white;
                a{
                    color: $colorborde;
                    text-shadow: 0 0 5px white;
                }
            }
        }
    }
    .divRedes{
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 2px solid $colorborde;
        width: 85%;
        .seguinos{
            color: $colorborde;
            text-shadow: 0 0 5px white;
            padding: 8px;
        }
        .divR{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            padding: 10px;
            .bi{
                height: 20px;
                width: 20px;
            }
            p{
                margin: auto 5px;
                a{
                    color: $colorborde;
                    text-shadow: 0 0 5px white;
                }
            }
        }
    }
    .copy{
        text-align: center;
        margin-top: 8px;
    }
}

@media only screen and (min-width:480px){
    .slide{
        img{
            height: 50vh;
        }
    } 
    .carrousel2{
        img{
            height: 48vh;
        }
    } 
    .divEncontranos{
        .divE1{
            display: flex;
            margin-left: 160px;
            margin-bottom: 10px;
            .bi-geo-alt{
                height: 25px;
                width: 25px;
                margin-right: 10px;
            }
        }
        .divE2{
            display: flex;
            margin-left: 160px;
            margin-bottom: 10px;
            .bi-geo-alt{
                height: 25px;
                width: 25px;
                margin-right: 10px;
            }
        }
        .divE3{
            display: flex;
            margin-left: 160px;
            margin-bottom: 10px;
            .bi-geo-alt{
                height: 25px;
                width: 25px;
                margin-right: 10px;
            }
        }
        p{
            align-self: center;
            padding: 4px;
        }
    }
    .divRedes{ 
        .divR1{
        display: flex;
        margin-bottom: 10px;
        justify-content: center;
        }
        .divR2{
            display: flex;
            justify-content: center;
            margin-bottom: 10px;
        }
    }
}

@media only screen and (min-width:768px){
    .navbar{
        .logo{
            height: 190px;
            width: 190px;
            border-radius: 100px;
            margin: 15px 0px 0px 45px;
        }
        .nav-link{
            font-size: 25px;
        }
        .frase{
            font-size: 35px;
        }
    }


    .slide{
        img{
            height: 75vh;
        }
    } 
    .main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: 
        "divArriba divAbajo"
        "productosDestacados productosDestacados";
        .divArriba{
            grid-area: divArriba;
            margin-right: 0px;
            border-right: none;
            .camion{
                height: 50px;
                margin-top: 15px;
            }
        }
        .divAbajo{
            grid-area: divAbajo;
            margin: 5px 5px 0px 0px;
            border: 2px solid black;
        }
        .productosDestacados{
            grid-area: productosDestacados;
            font-size: 20px;
        }
    }
    .carrousel2{
        img{
            height: 55vh;
        }
    } 
    .footer{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:
        "divEncontranos divRedes"
        "divLogoFooter divLogoFooter"
        "copy copy";
        .divEncontranos{
            h3{
                text-align: center;
                padding: 10px;
            }
            .divE1{
                display: flex;
                margin-left: 120px;
                margin-bottom: 10px;
                .bi-geo-alt{
                    height: 25px;
                    width: 25px;
                    margin-right: 10px;
                }
            }
            .divE2{
                display: flex;
                margin-left: 120px;
                margin-bottom: 10px;
                .bi-geo-alt{
                    height: 25px;
                    width: 25px;
                    margin-right: 10px;
                }
            }
            .divE3{
                display: flex;
                margin-left: 120px;
                margin-bottom: 10px;
                .bi-geo-alt{
                    height: 25px;
                    width: 25px;
                    margin-right: 10px;
                }
            }
            p{
                align-self: center;
                padding: 4px;
            }
            .pSm{
                text-align: center;
            }
        }
        .divRedes{
            border-left: 2px solid black;
            border-bottom: 2px solid black;
            h3{
                text-align: center;
                padding: 10px;
            }
            svg{
                width: 30px;
                height: 30px;
            }
            p{
                align-self: center;
            }
            a{
                text-decoration: none;
                color: #000;
            }
            .divR1{
                margin-top: 20px;
                .bi-instagram{
                    margin-right: 10px;
                }
            }
            .divR2{
                .bi-facebook{
                    margin-right: 10px;
                }
            }
        }
    }
}

@media only screen and (min-width:1024px){
    .navbar{
        .logo{
            height: 210px;
            width: 210px;
            border: 3px solid black;
            border-radius: 150px;
            margin: 25px 0px 0px 65px;
        }
        .nav-link{
            font-size: 30px;
        }
        .frase{
            font-size: 45px;
        }
    }
    .slide{
        img{
            height: 85vh;
        }
    } 
    .main{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 300px auto auto;
        grid-template-areas: 
        "divArriba divAbajo"
        "productosDestacados productosDestacados"
        "imagenesProductos imagenesProductos";
        .divArriba{
            margin: 15px 0px 15px 15px;
            border: 2px solid black;
            border-right: none;
            .camion{
                height: 120px;
                width: 120px;
                .bi-truck{
                    height: 100px;
                    width: 100px;
                }
            }
            .realizamosDelivery{
                margin-top: 25px;
                margin: 5px 0px;
                font-size: 25px;
            }
            .divWsp{
                display: flex;
                margin: 10px 0px;
                .bi-whatsapp{
                    margin-right: 5px;
                    height: 50px;
                    width: 50px;
                    align-self: center;
                }
                p{
                    font-size: 25px;
                    align-self: center;
                }
            } 
        }
        .divAbajo{
            margin: 15px 15px 15px 0px;
            .divMpago{
                .bi-credit-card{
                    margin: 20px;
                    height: 70px;
                    width: 70px;
                }
                .mercadoPago{
                    margin: 50px;
                    height: 70px;
                    width: 70px;
                    border: 2px solid black;
                    border-radius: 35px;
                }
                .bi-cash-coin{
                    margin: 20px;
                    height: 70px;
                    width: 70px;
                }
            }
            .mediosDePago{
                font-size: 30px;
                padding: 10px;
            }
        }
        .carrousel2{
            img{
                height: 70vh;
            }
        } 
        .productosDestacados{
            margin: 5px 15px;
            .h2pD{
                font-size: 60px;
            }
        }
    }

    .footer{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:
        "divEncontranos divLogoFooter divRedes"
        "copy copy copy";
        margin: 15px 15px 5px;
        .divRedes{
            border-left: none;
            .divR1{
                margin-top: 35px;
                .bi-instagram{
                    margin-right: 10px;
                }
            }
            .divR2{
                .bi-facebook{
                    margin-right: 10px;
                }
            }
        }
    }
}

@media only screen and (min-width:1500px){
    .navbar{
        .logo{
            height: 300px;
            width: 300px;
            border: 3px solid black;
            border-radius: 175px;
            margin: 30px 0px 0px 100px;
        }
        .nav-link{
            font-size: 40px;
        }
        .frase{
            font-size: 70px;
        }
    }

    .slide{
        img{
            height: 100vh;
        }
    } 
    .carrousel2{
        img{
            height: 80vh;
        }
    } 
    .footer{
        .divEncontranos{
            h3{
                font-size: 35px;
                margin-top: 25px;
            }
            .divE1{
                .bi-geo-alt{
                    height: 40px;
                    width: 40px;
                }
                p{
                    font-size: 30px;
                }
            }
            .divE2{
                .bi-geo-alt{
                    height: 40px;
                    width: 40px;
                }
                p{
                    font-size: 30px;
                }
            }
            .divE3{
                .bi-geo-alt{
                    height: 40px;
                    width: 40px;
                }
                p{
                    font-size: 30px;
                }
            }
            .pSm{
                font-size: 25px;
            }
        }
        .divLogoFooter{
            .logo{
                height: 250px;
                width: 250px;
                border-radius: 125px;
                border: 5px solid black;
                margin-top: 25px;
            }
            .contactanos{
                font-size: 30px;
                font-weight: bold;
            }
            .divF2{
                .bi-whatsapp{
                    height: 35px;
                    width: 35px;
                }
                .p{
                    font-size: 25px;
                }
                a{
                    color: black;
                    text-shadow: 0 0 10px white;
                }
            } 
        }
        .divRedes{
            h3{
                font-size: 35px;
                margin-top: 25px;
            }
            .divR1{
                .bi-instagram{
                    height: 60px;
                    width: 60px;
                }
                a{
                    font-size: 30px;
                }
            }
            .divR2{
                .bi-facebook{
                    height: 60px;
                    width: 60px;
                }
                a{
                    font-size: 30px;
                }
            } 
        } 
    }
}


