$colorbase: #9ad5ff;
$color2: #ffb379;
$color3: #567ccf;
$letranav: 'Truculenta', sans-serif; 
$letramain: 'Truculenta', sans-serif;
$letrafooter: 'Truculenta', sans-serif; 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainContacto{
    .h3Contacto{
        text-align: center;
        font-family: $letranav;
        font-weight: bold;
        background-color: $color2;
        text-shadow: 0 0 10px #ffffff;
        margin: 5px 5px;
        border: 2px solid $color3;
        border-radius: 10px;
        padding: 5px;
        color: $color3;
    }
    .sectionContacto{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:
        "imgSobre"
        "formulario";
        background-color: #9ad5ffd3;
        margin: 5px 5px;
        padding: 5px;
        height: auto;
        border-radius: 5px;
        border: 2px solid $color3;
        .formulario{
            grid-area: formulario;
            margin-left: 20px;
            margin-top: 15px;
            margin-bottom: 15px;
            align-self: center;
            justify-self: center;
            .formCompletar{
                padding: 10px 0px 5px 0px;
                .inputContacto{
                    border: none;
                    border-bottom: 2px solid $color3;
                    background: transparent;
                    &::placeholder{
                        color: $color3;
                        font-family: $letranav;
                        font-weight: bold;
                    }
                    &:focus{
                        background: $colorbase;
                        outline: none;
                    }
                }
                textarea{
                    min-height: 80px;
                    min-width: 165px;
                    resize: none;
                }
            }
            .boton{
                margin-top: 15px;
                background-color: $color2;
                font-family: $letrafooter;
                font-weight: bold;
            }
        }
        .imgSobre{
            grid-area: imgSobre;
            align-self: center;
            justify-self: center;
            color: $color2;
            padding: 10px;
            padding-bottom: none;
            .bi-envelope-fill{
                height: 100px;
                width: 100px;
            }
        }
    }
    .sectionContacto2{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: 
        "primerH3"
        "segundoH3";
        background-color: $color2;
        margin: 0px 5px 5px 5px;
        border: 2px solid $color3;
        border-radius: 5px;
        .primerH3{
            grid-area: primerH3;
            display: flex;
            flex-direction: column;
            border-bottom: 2px solid $color3;
            padding: 20px 20px;
            h3{
                text-align: center;
                font-family: $letranav;
                padding: 10px 0px 5px 0px;
                border-bottom: 2px solid $color3;
                margin: 0px auto;
                color: $color3;
                text-shadow: 0 0 10px rgb(255, 255, 255);
            }
            .primerH31 {
                display: flex;
                align-self: center;
                justify-self: center;
                margin-top: 20px;
                .bi-instagram{
                    margin: 0px 10px;
                    height: 25px;
                    width: 25px;
                    color: $color3;
                }
                p{
                    align-self: center;
                    font-family: $letranav;
                    font-weight: bold;
                }
                a{
                    text-decoration: none;
                    color: $color3;
                    text-shadow: 0 0 5px white;
                }
            }
            .primerH32 {
                display: flex;
                align-self: center;
                justify-self: center;
                .bi-facebook{
                    margin: 0px 10px;
                    height: 25px;
                    width: 25px;
                    color: $color3;
                }
                p{
                    align-self: center;
                }
                a{
                    text-decoration: none;
                    font-family: $letranav;
                    font-weight: bold;
                    color: $color3;
                    text-shadow: 0 0 5px white;
                }
            }
        }
        .segundoH3{
            grid-area: segundoH3;
            display: flex;
            flex-direction: column;
            padding: 20px 20px;
            h3{
                text-align: center;
                padding: 10px 0px 5px 0px;
                border-bottom: 2px solid $color3;
                margin: 0px auto;
                color: $color3;
                font-family: $letranav;
                text-shadow: 0 0 10px rgb(255, 255, 255);
            }
            .segundoH31{
                display: flex;
                align-self: center;
                justify-self: center;
                margin-top: 20px;
                .bi-whatsapp{
                    height: 25px;
                    width: 25px;
                    margin-right: 5px;
                    color: $color3;
                }
                p{
                    align-self: center;
                    color: $color3;
                    font-family: $letranav;
                    font-weight: bold;
                    text-shadow: 0 0 5px white;
                }
                a{
                    text-decoration: none;
                    color: $color3;
                    font-family: $letranav;
                    font-weight: bold;
                    text-shadow: 0 0 5px white;
                }
            }
            .segundoH32{
                align-self: center;
                justify-self: center;
                p{
                    font-size: 18px;
                    color: $color3;
                    font-family: $letranav;
                    font-weight: bold;
                    text-shadow: 0 0 5px white;
                }
            }
        }
    } 
}

@media only screen and (min-width:480px){
    .mainContacto{
        .sectionContacto{
            .imgSobre{
                .bi-envelope-fill{
                    height: 120px;
                    width: 120px;
                }
            }
            .formulario{
                .formCompletar{
                    .inputContacto{
                        width: 300px;
                    }
                }
            }
        } 
    } 
}

@media only screen and (min-width:768px){
    .mainContacto{
        .h3Contacto{
            font-size: 40px;
        }
        .sectionContacto{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;
            grid-template-areas:
            "formulario imgSobre";
            .formulario{
                grid-area: formulario;
                .inputContacto{
                    font-size: 22px;
                }
            }
            .imgSobre{
                grid-area: imgSobre;
                .bi-envelope-fill{
                    height: 150px;
                    width: 150px;
                }
            } 
        }
        .sectionContacto2{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;
            grid-template-areas: 
            "primerH3 segundoH3";
            .primerH3{
                border-bottom: none;
                padding: 30px 30px;
                h3{
                    font-size: 35px;
                }
                .primerH31{
                    .bi-instagram{
                        height: 32px;
                        width: 32px;
                    }
                    a{
                        font-size: 25px;
                    }
                }
                .primerH32{
                    .bi-facebook{
                        height: 32px;
                        width: 32px;
                    }
                    a{
                        font-size: 25px;
                    }
                }
            }
            .segundoH3{
                padding: 30px 30px;
                h3{
                    font-size: 35px;
                }
                .segundoH31{
                    .bi-whatsapp{
                        height: 32px;
                        width: 32px;
                    }
                    a{
                        font-size: 25px;
                    }
                }
                .segundoH32{
                    p{
                        font-size: 25px;
                    }
                }
            }
        }
    } 
}

@media only screen and (min-width:1024px){
    .mainContacto{
        .h3Contacto{
            font-size: 45px;
        }
        .sectionContacto{
            margin: 5px 50px;
            .formulario{
                .formCompletar{
                    margin-top: 40px;
                    .inputContacto{
                        width: 400px;
                    }
                    textarea{
                        height: 100px;
                    }
                }
                .boton{
                    font-size: 25px;
                }
            }
            .imgSobre{
                .bi-envelope-fill{
                    height: 250px;
                    width: 250px;
                }
            } 
        }
        .sectionContacto2{
            margin: 0px 5px 5px;
            .primerH3{
                h3{
                    font-size: 40px;
                }
                .primerH31{
                    font-size: 35px;
                    margin: auto;
                    .bi-instagram{
                        height: 40px;
                        width: 40px;
                    }
                }
                .primerH32{
                    font-size: 35px;
                    margin-bottom: 25px;
                    .bi-facebook{
                        height: 40px;
                        width: 40px;
                    }
                }
            } 
            .segundoH3{
                h3{
                    font-size: 40px;
                }
                .segundoH31{
                    margin-top: 25px;
                    margin-bottom: 25px;
                    .bi-whatsapp{
                        height: 40px;
                        width: 40px;
                        margin-right: 15px;
                    }
                    p{
                        font-size: 35px;
                    }
                }
                .segundoH32{
                    p{
                        font-size: 30px;
                        margin-bottom: 25px;
                    }
                } 
            } 
        }
    }
}

@media only screen and (min-width:1160px){
    .mainContacto{
        .h3Contacto{
            font-size: 55px;
        }
    }
}