$colorbase: #9ad5ff;
$color2: #ffb379;
$color3: #567ccf;
$letranav: 'Truculenta', sans-serif; 
$letramain: 'Inconsolata', monospace;
$letrafooter: 'Truculenta', sans-serif; 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainNosotros{
    .pagNosotros{
        background-color: $color2;
        text-shadow: 0 0 10px #ffffff;
        text-align: center;
        padding: 5px;
        border: 2px solid $color3;
        font-family: $letramain; 
        font-weight: bold;
        color: $color3;
        border-radius: 10px;
        margin: 5px 5px;
    }
    .tarj{
        border: 2px solid $color3;
        background-color: $colorbase;
        .card-img-top{
            margin-top: 15px;
            border-radius: 10px;
            border: 2px solid $color3;
        }
        .card-title{
            background-color: $color2;
            border: 2px solid $color3;
            border-radius: 10px;
            font-family: $letrafooter;
            font-size: 35px;
            text-align: center;
            padding: 10px;
            color: $color3;
            text-shadow: 5px 5px 10px rgb(255, 255, 255);
        }
        .card-text{
            border: 2px solid $color3;
            background-color: $color2;
            padding: 20px;
            border-radius: 10px;
        }
    }
}

@media only screen and (min-width:480px){
    .mainNosotros{
        .tarj{
            .card-img-top{
                margin-top: 15px;
                border-radius: 10px;
                border: 2px solid $color3;
            }
            .card-title{
                font-size: 40px;
            }
            .card-text{
                font-size: 20px;
            }
        }
    }
}

@media only screen and (min-width:768px){
    .mainNosotros{
        .pagNosotros{
            font-size: 40px;
        }
        .tarj{
            .card-img-top{
            }
            .card-title{
                font-size: 50px;
            }
            .card-text{
                font-size: 28px;
            }
        }
    }
}

@media only screen and (min-width:1024px){
    .mainNosotros{
        .pagNosotros{
            font-size: 50px;
        }
        .tarj{   
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
}

@media only screen and (min-width:1160px){
    .mainNosotros{
        .pagNosotros{
            font-size: 55px;
        }
        .tarj{
            margin-top: 20px;
            margin-bottom: 20px;
            .card-img-top{
            }
            .card-title{
                font-size: 50px;
            }
            .card-text{
                font-size: 28px;
            }
        }
    }
}
