$colorbase: #9ad5ff;
$color2: #ffb379;
$color3: #567ccf;
$letranav: 'Truculenta', sans-serif; 
$letramain: 'Inconsolata', monospace;
$letrafooter: 'Truculenta', sans-serif; 


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainProductos{
    h3{
        background-color: $color2;
        text-align: center;
        border-radius: 10px;
        border: 2px solid $color3;
        font-family: $letramain;
        font-weight: bold;
        text-shadow: 0 0 5px white;
        color: $color3;
        margin: 5px 5px;
        padding: 5px;
    }
    .todosLosProductos{
        display: flex;
        flex-direction: column;
        background-color: $colorbase;
        margin: 0px 5px 5px 5px;
        border-radius: 5px;
        border: 2px solid $color3;
        .producto{
            display: flex;
            flex-direction: column;
            margin: 5px;
            img{
                height: 180px;
                width: 200px;
                background-position: center;
                background-size: cover;
                border: 4px solid $color2;
                border-radius: 20px;
                align-self: center;
                margin-bottom: 10px;
                margin-top: 10px;
            }
            p{
                margin: 0px;
                text-align: center;
                font-family: $letrafooter;
                color: $color3;
                font-weight: bold;
                text-shadow: 0 0 5px rgb(255, 255, 255);
            }
        }
    }
} 

@media only screen and (min-width:480px){
    .mainProductos{
        .todosLosProductos{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto;
            grid-template-areas: 
            "producto1 producto2"
            "producto3 producto4"
            "producto5 producto6"
            "producto7 producto8"
            "producto9 producto10"
            "producto11 producto12"
            "producto13 producto14"
            "producto15 producto16"
            "producto17 producto18"
            "producto19 producto20"
            "producto21 producto21";
            .producto{
                margin-top: 10px;
            }
        }
    }
}

@media only screen and (min-width:768px){
    .mainProductos{
        h3{
            font-size: 40px;
        }
        .todosLosProductos{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto auto auto auto auto auto auto auto auto;
            grid-template-areas: 
            "producto1 producto2 producto3"
            "producto4 producto5 producto6"
            "producto7 producto8 producto9"
            "producto10 producto11 producto12"
            "producto13 producto14 producto15"
            "producto16 producto17 producto18"
            "producto19 producto20 producto21"
            "producto22 producto22 producto22";
            .producto{
                margin-top: 15px;
                p{
                    font-size: 20px;
                }
            }
        }
    }
}

@media only screen and (min-width:1024px){
    .mainProductos{
        h3{
            font-size: 50px;
        }
        .todosLosProductos{
            .producto{
                img{
                    height: 250px;
                    width: 280px;
                    border: 4px solid $color2;
                    margin-bottom: 5px;
                }
                p{
                    font-size: 22px;
                }
            }
        }
    }
}
@media only screen and (min-width:1160px){
    .mainProductos{
        h3{
            font-size: 55px;
        }
    }
}