* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainNosotros .pagNosotros {
  background-color: #ffb379;
  text-shadow: 0 0 10px #ffffff;
  text-align: center;
  padding: 5px;
  border: 2px solid #567ccf;
  font-family: "Truculenta", sans-serif;
  font-weight: bold;
  color: #567ccf;
  border-radius: 10px;
  margin: 5px 5px;
}
.mainNosotros .tarj {
  border: 2px solid #567ccf;
  background-color: #9ad5ff;
}
.mainNosotros .tarj .card-img-top {
  margin-top: 15px;
  border-radius: 10px;
  border: 2px solid #567ccf;
}
.mainNosotros .tarj .card-title {
  background-color: #ffb379;
  border: 2px solid #567ccf;
  border-radius: 10px;
  font-family: "Truculenta", sans-serif;
  font-size: 35px;
  text-align: center;
  padding: 10px;
  color: #567ccf;
  text-shadow: 5px 5px 10px rgb(255, 255, 255);
}
.mainNosotros .tarj .card-text {
  border: 2px solid #567ccf;
  background-color: #ffb379;
  padding: 20px;
  border-radius: 10px;
}

@media only screen and (min-width: 480px) {
  .mainNosotros .tarj .card-img-top {
    margin-top: 15px;
    border-radius: 10px;
    border: 2px solid #567ccf;
  }
  .mainNosotros .tarj .card-title {
    font-size: 40px;
  }
  .mainNosotros .tarj .card-text {
    font-size: 20px;
  }
}
@media only screen and (min-width: 768px) {
  .mainNosotros .pagNosotros {
    font-size: 40px;
  }
  .mainNosotros .tarj .card-title {
    font-size: 50px;
  }
  .mainNosotros .tarj .card-text {
    font-size: 28px;
  }
}
@media only screen and (min-width: 1024px) {
  .mainNosotros .pagNosotros {
    font-size: 50px;
  }
  .mainNosotros .tarj {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
@media only screen and (min-width: 1160px) {
  .mainNosotros .pagNosotros {
    font-size: 55px;
  }
  .mainNosotros .tarj {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .mainNosotros .tarj .card-title {
    font-size: 50px;
  }
  .mainNosotros .tarj .card-text {
    font-size: 28px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainProductos h3 {
  background-color: #ffb379;
  text-align: center;
  border-radius: 10px;
  border: 2px solid #567ccf;
  font-family: "Truculenta", sans-serif;
  font-weight: bold;
  text-shadow: 0 0 5px white;
  color: #567ccf;
  margin: 5px 5px;
  padding: 5px;
}
.mainProductos .todosLosProductos {
  display: flex;
  flex-direction: column;
  background-color: #9ad5ff;
  margin: 0px 5px 5px 5px;
  border-radius: 5px;
  border: 2px solid #567ccf;
}
.mainProductos .todosLosProductos .producto {
  display: flex;
  flex-direction: column;
  margin: 5px;
}
.mainProductos .todosLosProductos .producto img {
  height: 180px;
  width: 200px;
  background-position: center;
  background-size: cover;
  border: 4px solid #ffb379;
  border-radius: 20px;
  align-self: center;
  margin-bottom: 10px;
  margin-top: 10px;
}
.mainProductos .todosLosProductos .producto p {
  margin: 0px;
  text-align: center;
  font-family: "Truculenta", sans-serif;
  color: #567ccf;
  font-weight: bold;
  text-shadow: 0 0 5px rgb(255, 255, 255);
}

@media only screen and (min-width: 480px) {
  .mainProductos .todosLosProductos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto;
    grid-template-areas: "producto1 producto2" "producto3 producto4" "producto5 producto6" "producto7 producto8" "producto9 producto10" "producto11 producto12" "producto13 producto14" "producto15 producto16" "producto17 producto18" "producto19 producto20" "producto21 producto21";
  }
  .mainProductos .todosLosProductos .producto {
    margin-top: 10px;
  }
}
@media only screen and (min-width: 768px) {
  .mainProductos h3 {
    font-size: 40px;
  }
  .mainProductos .todosLosProductos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto auto auto auto;
    grid-template-areas: "producto1 producto2 producto3" "producto4 producto5 producto6" "producto7 producto8 producto9" "producto10 producto11 producto12" "producto13 producto14 producto15" "producto16 producto17 producto18" "producto19 producto20 producto21" "producto22 producto22 producto22";
  }
  .mainProductos .todosLosProductos .producto {
    margin-top: 15px;
  }
  .mainProductos .todosLosProductos .producto p {
    font-size: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .mainProductos h3 {
    font-size: 50px;
  }
  .mainProductos .todosLosProductos .producto img {
    height: 250px;
    width: 280px;
    border: 4px solid #ffb379;
    margin-bottom: 5px;
  }
  .mainProductos .todosLosProductos .producto p {
    font-size: 22px;
  }
}
@media only screen and (min-width: 1160px) {
  .mainProductos h3 {
    font-size: 55px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainContacto .h3Contacto {
  text-align: center;
  font-family: "Truculenta", sans-serif;
  font-weight: bold;
  background-color: #ffb379;
  text-shadow: 0 0 10px #ffffff;
  margin: 5px 5px;
  border: 2px solid #567ccf;
  border-radius: 10px;
  padding: 5px;
  color: #567ccf;
}
.mainContacto .sectionContacto {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "imgSobre" "formulario";
  background-color: rgba(154, 213, 255, 0.8274509804);
  margin: 5px 5px;
  padding: 5px;
  height: auto;
  border-radius: 5px;
  border: 2px solid #567ccf;
}
.mainContacto .sectionContacto .formulario {
  grid-area: formulario;
  margin-left: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  align-self: center;
  justify-self: center;
}
.mainContacto .sectionContacto .formulario .formCompletar {
  padding: 10px 0px 5px 0px;
}
.mainContacto .sectionContacto .formulario .formCompletar .inputContacto {
  border: none;
  border-bottom: 2px solid #567ccf;
  background: transparent;
}
.mainContacto .sectionContacto .formulario .formCompletar .inputContacto::placeholder {
  color: #567ccf;
  font-family: "Truculenta", sans-serif;
  font-weight: bold;
}
.mainContacto .sectionContacto .formulario .formCompletar .inputContacto:focus {
  background: #9ad5ff;
  outline: none;
}
.mainContacto .sectionContacto .formulario .formCompletar textarea {
  min-height: 80px;
  min-width: 165px;
  resize: none;
}
.mainContacto .sectionContacto .formulario .boton {
  margin-top: 15px;
  background-color: #ffb379;
}
.mainContacto .sectionContacto .imgSobre {
  grid-area: imgSobre;
  align-self: center;
  justify-self: center;
  color: #ffb379;
  padding: 10px;
  padding-bottom: none;
}
.mainContacto .sectionContacto .imgSobre .bi-envelope-fill {
  height: 100px;
  width: 100px;
}
.mainContacto .sectionContacto2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "primerH3" "segundoH3";
  background-color: #ffb379;
  margin: 0px 5px 5px 5px;
  border: 2px solid #567ccf;
  border-radius: 5px;
}
.mainContacto .sectionContacto2 .primerH3 {
  grid-area: primerH3;
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid #567ccf;
  padding: 20px 20px;
}
.mainContacto .sectionContacto2 .primerH3 h3 {
  text-align: center;
  font-family: "Truculenta", sans-serif;
  padding: 10px 0px 5px 0px;
  border-bottom: 2px solid #567ccf;
  margin: 0px auto;
  color: #567ccf;
  text-shadow: 0 0 10px rgb(255, 255, 255);
}
.mainContacto .sectionContacto2 .primerH3 .primerH31 {
  display: flex;
  align-self: center;
  justify-self: center;
  margin-top: 20px;
}
.mainContacto .sectionContacto2 .primerH3 .primerH31 .bi-instagram {
  margin: 0px 10px;
  height: 25px;
  width: 25px;
  color: #567ccf;
}
.mainContacto .sectionContacto2 .primerH3 .primerH31 p {
  align-self: center;
  font-family: "Truculenta", sans-serif;
  font-weight: bold;
}
.mainContacto .sectionContacto2 .primerH3 .primerH31 a {
  text-decoration: none;
  color: #567ccf;
  text-shadow: 0 0 5px white;
}
.mainContacto .sectionContacto2 .primerH3 .primerH32 {
  display: flex;
  align-self: center;
  justify-self: center;
}
.mainContacto .sectionContacto2 .primerH3 .primerH32 .bi-facebook {
  margin: 0px 10px;
  height: 25px;
  width: 25px;
  color: #567ccf;
}
.mainContacto .sectionContacto2 .primerH3 .primerH32 p {
  align-self: center;
}
.mainContacto .sectionContacto2 .primerH3 .primerH32 a {
  text-decoration: none;
  font-family: "Truculenta", sans-serif;
  font-weight: bold;
  color: #567ccf;
  text-shadow: 0 0 5px white;
}
.mainContacto .sectionContacto2 .segundoH3 {
  grid-area: segundoH3;
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
}
.mainContacto .sectionContacto2 .segundoH3 h3 {
  text-align: center;
  padding: 10px 0px 5px 0px;
  border-bottom: 2px solid #567ccf;
  margin: 0px auto;
  color: #567ccf;
  font-family: "Truculenta", sans-serif;
  text-shadow: 0 0 10px rgb(255, 255, 255);
}
.mainContacto .sectionContacto2 .segundoH3 .segundoH31 {
  display: flex;
  align-self: center;
  justify-self: center;
  margin-top: 20px;
}
.mainContacto .sectionContacto2 .segundoH3 .segundoH31 .bi-whatsapp {
  height: 25px;
  width: 25px;
  margin-right: 5px;
  color: #567ccf;
}
.mainContacto .sectionContacto2 .segundoH3 .segundoH31 p {
  align-self: center;
  color: #567ccf;
  font-family: "Truculenta", sans-serif;
  font-weight: bold;
  text-shadow: 0 0 5px white;
}
.mainContacto .sectionContacto2 .segundoH3 .segundoH31 a {
  text-decoration: none;
  color: #567ccf;
  font-family: "Truculenta", sans-serif;
  font-weight: bold;
  text-shadow: 0 0 5px white;
}
.mainContacto .sectionContacto2 .segundoH3 .segundoH32 {
  align-self: center;
  justify-self: center;
}
.mainContacto .sectionContacto2 .segundoH3 .segundoH32 p {
  font-size: 18px;
  color: #567ccf;
  font-family: "Truculenta", sans-serif;
  font-weight: bold;
  text-shadow: 0 0 5px white;
}

@media only screen and (min-width: 480px) {
  .mainContacto .sectionContacto .imgSobre .bi-envelope-fill {
    height: 120px;
    width: 120px;
  }
  .mainContacto .sectionContacto .formulario .formCompletar .inputContacto {
    width: 300px;
  }
}
@media only screen and (min-width: 768px) {
  .mainContacto .h3Contacto {
    font-size: 40px;
  }
  .mainContacto .sectionContacto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "formulario imgSobre";
  }
  .mainContacto .sectionContacto .formulario {
    grid-area: formulario;
  }
  .mainContacto .sectionContacto .formulario .inputContacto {
    font-size: 22px;
  }
  .mainContacto .sectionContacto .imgSobre {
    grid-area: imgSobre;
  }
  .mainContacto .sectionContacto .imgSobre .bi-envelope-fill {
    height: 150px;
    width: 150px;
  }
  .mainContacto .sectionContacto2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "primerH3 segundoH3";
  }
  .mainContacto .sectionContacto2 .primerH3 {
    border-bottom: none;
    padding: 30px 30px;
  }
  .mainContacto .sectionContacto2 .primerH3 h3 {
    font-size: 35px;
  }
  .mainContacto .sectionContacto2 .primerH3 .primerH31 .bi-instagram {
    height: 32px;
    width: 32px;
  }
  .mainContacto .sectionContacto2 .primerH3 .primerH31 a {
    font-size: 25px;
  }
  .mainContacto .sectionContacto2 .primerH3 .primerH32 .bi-facebook {
    height: 32px;
    width: 32px;
  }
  .mainContacto .sectionContacto2 .primerH3 .primerH32 a {
    font-size: 25px;
  }
  .mainContacto .sectionContacto2 .segundoH3 {
    padding: 30px 30px;
  }
  .mainContacto .sectionContacto2 .segundoH3 h3 {
    font-size: 35px;
  }
  .mainContacto .sectionContacto2 .segundoH3 .segundoH31 .bi-whatsapp {
    height: 32px;
    width: 32px;
  }
  .mainContacto .sectionContacto2 .segundoH3 .segundoH31 a {
    font-size: 25px;
  }
  .mainContacto .sectionContacto2 .segundoH3 .segundoH32 p {
    font-size: 25px;
  }
}
@media only screen and (min-width: 1024px) {
  .mainContacto .h3Contacto {
    margin: 5px 5px;
    font-size: 50px;
  }
  .mainContacto .sectionContacto {
    margin: 25px 55px;
  }
  .mainContacto .sectionContacto .formulario .formCompletar {
    margin-top: 40px;
  }
  .mainContacto .sectionContacto .formulario .formCompletar .inputContacto {
    width: 400px;
  }
  .mainContacto .sectionContacto .formulario .formCompletar textarea {
    height: 100px;
  }
  .mainContacto .sectionContacto .formulario .boton {
    font-size: 25px;
  }
  .mainContacto .sectionContacto .imgSobre .bi-envelope-fill {
    height: 250px;
    width: 250px;
  }
  .mainContacto .sectionContacto2 {
    margin: 0px 5px 5px;
  }
  .mainContacto .sectionContacto2 .primerH3 h3 {
    font-size: 40px;
  }
  .mainContacto .sectionContacto2 .primerH3 .primerH31 {
    font-size: 35px;
    margin: auto;
  }
  .mainContacto .sectionContacto2 .primerH3 .primerH31 .bi-instagram {
    height: 40px;
    width: 40px;
  }
  .mainContacto .sectionContacto2 .primerH3 .primerH32 {
    font-size: 35px;
    margin-bottom: 25px;
  }
  .mainContacto .sectionContacto2 .primerH3 .primerH32 .bi-facebook {
    height: 40px;
    width: 40px;
  }
  .mainContacto .sectionContacto2 .segundoH3 h3 {
    font-size: 40px;
  }
  .mainContacto .sectionContacto2 .segundoH3 .segundoH31 {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .mainContacto .sectionContacto2 .segundoH3 .segundoH31 .bi-whatsapp {
    height: 40px;
    width: 40px;
    margin-right: 15px;
  }
  .mainContacto .sectionContacto2 .segundoH3 .segundoH31 p {
    font-size: 35px;
  }
  .mainContacto .sectionContacto2 .segundoH3 .segundoH32 p {
    font-size: 30px;
    margin-bottom: 25px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  margin: 5px;
  background-color: #9ad5ff;
  border-radius: 5px;
  border: 2px solid #567ccf;
}
header .navbar .logo {
  height: 100px;
  width: 100px;
  border: 3px solid black;
  border-radius: 50px;
}
header .navbar .logo:hover {
  transform: scale(1.1);
  transition: all 0.7s;
}
header .navbar .navbar-collapse .nav-item .nav-link {
  color: #000000;
  font-family: "Truculenta", sans-serif;
  font-weight: bold;
}
header .navbar .navbar-collapse .nav-item .nav-link:hover {
  color: #567ccf;
  text-shadow: 0 0 5px #ffffff;
  font-weight: bold;
}
header .navbar .navbar-collapse .form-inline .form-control::placeholder {
  font-family: "Truculenta", sans-serif;
  font-weight: bold;
  color: #000000;
}
header .navbar .navbar-collapse .form-inline .btn {
  color: #ffffff;
  border-color: rgb(0, 0, 0);
  background-color: #ffb379;
}
header .frase {
  margin-top: 5px;
}
header .frase .h4 {
  font-family: "Truculenta", sans-serif;
  text-shadow: 0 0 5px #ffffff;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}

.slide {
  margin-top: 5px;
  margin: 0px 5px;
}
.slide .carousel-inner img {
  height: 45vh;
  background-position: center;
  background-size: cover;
}

main .divPadre {
  background-color: #9ad5ff;
  margin: 5px 5px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #567ccf;
}
main .divPadre .divArriba {
  border-bottom: 2px solid #567ccf;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}
main .divPadre .divArriba .camion {
  border: 2px solid #567ccf;
  border-radius: 5px;
  padding: 5px;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: #ffb379;
}
main .divPadre .divArriba .camion .bi-truck {
  color: #ffffff;
  height: 30px;
  width: 30px;
}
main .divPadre .divArriba .realizamosDelivery {
  text-shadow: 0 0 5px rgb(255, 255, 255);
  font-family: "Truculenta", sans-serif;
  font-weight: bold;
  color: #567ccf;
}
main .divPadre .divArriba .divWsp {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
}
main .divPadre .divArriba .divWsp .wsp {
  display: flex;
  border: 2px solid #567ccf;
  border-radius: 5px;
  padding: 4px;
  margin: 0px 10px;
  background-color: #ffb379;
}
main .divPadre .divArriba .divWsp .wsp .bi-whatsapp {
  height: 25px;
  width: 25px;
  color: white;
}
main .divPadre .divArriba .divWsp .p {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 18px;
  color: #567ccf;
  font-family: "Truculenta", sans-serif;
  font-weight: bold;
}
main .divPadre .divArriba .divWsp .p a {
  color: #567ccf;
  text-shadow: 0 0 5px rgb(255, 255, 255);
}
main .divPadre .divAbajo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .divPadre .divAbajo .divMpago {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 15px;
  margin-top: 8px;
}
main .divPadre .divAbajo .divMpago .tarjC {
  border: 2px solid #567ccf;
  border-radius: 5px;
  background-color: #ffb379;
  padding: 2px 4px;
}
main .divPadre .divAbajo .divMpago .tarjC .bi-credit-card {
  color: white;
  height: 30px;
  width: 30px;
}
main .divPadre .divAbajo .divMpago .mercadoPago {
  height: 40px;
  width: 40px;
  border: 2px solid #567ccf;
  border-radius: 20px;
}
main .divPadre .divAbajo .divMpago .plata {
  border: 2px solid #567ccf;
  border-radius: 5px;
  background-color: #ffb379;
  padding: 2px 4px;
}
main .divPadre .divAbajo .divMpago .plata .bi-cash-coin {
  color: white;
  height: 30px;
  width: 30px;
}
main .divPadre .divAbajo .mediosDePago {
  text-align: center;
  color: #567ccf;
  font-family: "Truculenta", sans-serif;
  font-weight: bold;
  text-shadow: 0 0 5px rgb(255, 255, 255);
  padding: 10px;
  margin-bottom: 20px;
}
main .h2pD {
  color: #567ccf;
  background-color: #ffb379;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  border: 2px solid #567ccf;
  text-shadow: 0 0 5px rgb(255, 255, 255);
  font-style: italic;
  font-family: "Truculenta", sans-serif;
  font-weight: bold;
  text-align: center;
}
main .carrusel2 .carrousel2 img {
  height: 45vh;
}
main .carrusel2 .carrousel2 .carousel-caption h5 {
  font-family: "Truculenta", sans-serif;
  font-weight: bold;
}
main .carrusel2 .carrousel2 .carousel-caption p {
  font-family: "Truculenta", sans-serif;
  font-weight: bold;
}
main .pDest {
  display: none;
}

footer {
  background-color: #9ad5ff;
  border: 2px solid #567ccf;
  margin: 5px 5px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .divEncontranos {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid #567ccf;
  width: 85%;
}
footer .divEncontranos .encontranos {
  padding: 8px;
  color: #567ccf;
  text-shadow: 0 0 5px white;
  font-family: "Truculenta", sans-serif;
  font-weight: bold;
}
footer .divEncontranos .divE {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 7px;
}
footer .divEncontranos .divE .bi-geo-alt {
  height: 15px;
  width: 15px;
  align-self: center;
}
footer .divEncontranos .divE p {
  color: #567ccf;
  text-shadow: 0 0 5px rgb(255, 255, 255);
  margin: auto 5px;
  font-family: "Truculenta", sans-serif;
  font-weight: bold;
}
footer .divEncontranos .pSm {
  padding: 8px;
  font-family: "Truculenta", sans-serif;
  font-weight: bold;
}
footer .divLogoFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid #567ccf;
  width: 85%;
}
footer .divLogoFooter .logo {
  height: 80px;
  width: 80px;
  border: 2px solid black;
  border-radius: 40px;
  margin: 8px;
}
footer .divLogoFooter .logo:hover {
  transform: scale(1.1);
  transition: all 0.7s;
}
footer .divLogoFooter .contactanos {
  color: #567ccf;
  text-align: center;
  text-shadow: 0 0 5px white;
  font-family: "Truculenta", sans-serif;
  font-weight: bold;
  padding: 10px 0px 0px 0px;
}
footer .divLogoFooter .divF2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
}
footer .divLogoFooter .divF2 .bi-whatsapp {
  margin: 0px 5px;
  height: 20px;
  width: 20px;
}
footer .divLogoFooter .divF2 .p {
  margin-top: auto;
  margin-bottom: auto;
  color: #567ccf;
  text-shadow: 0 0 5px white;
  font-family: "Truculenta", sans-serif;
  font-weight: bold;
}
footer .divLogoFooter .divF2 .p a {
  color: #567ccf;
  text-shadow: 0 0 5px white;
}
footer .divRedes {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid #567ccf;
  width: 85%;
}
footer .divRedes .seguinos {
  color: #567ccf;
  text-shadow: 0 0 5px white;
  padding: 8px;
  font-family: "Truculenta", sans-serif;
  font-weight: bold;
}
footer .divRedes .divR {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
}
footer .divRedes .divR .bi {
  height: 20px;
  width: 20px;
}
footer .divRedes .divR p {
  margin: auto 5px;
  font-family: "Truculenta", sans-serif;
  font-weight: bold;
}
footer .divRedes .divR p a {
  color: #567ccf;
  text-shadow: 0 0 5px white;
}
footer .copy {
  text-align: center;
  margin-top: 8px;
}

@media only screen and (min-width: 480px) {
  .slide .carousel-inner img {
    height: 65vh;
  }
  main .carrusel2 .carrousel2 img {
    height: 65vh;
  }
  main .pDest {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  header .navbar .logo {
    height: 150px;
    width: 150px;
    border: 4px solid black;
    border-radius: 75px;
  }
  header .navbar .navbar-collapse .nav-item .nav-link {
    font-size: 22px;
  }
  header .navbar .navbar-collapse .form-inline .form-control::placeholder {
    font-size: 20px;
  }
  header .frase .h4 {
    font-size: 35px;
  }
  .slide .carousel-inner img {
    height: 80vh;
  }
  main .divPadre {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "divArriba divAbajo";
  }
  main .divPadre .divArriba {
    grid-area: divArriba;
    border-bottom: none;
    width: auto;
    border-right: 2px solid #567ccf;
    padding: 30px 10px;
  }
  main .divPadre .divArriba .camion {
    border: 3px solid #567ccf;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: #ffb379;
  }
  main .divPadre .divArriba .camion .bi-truck {
    height: 45px;
    width: 45px;
  }
  main .divPadre .divArriba .realizamosDelivery {
    font-size: 28px;
    font-weight: bold;
  }
  main .divPadre .divArriba .divWsp .wsp {
    border: 3px solid #567ccf;
    padding: 5px;
    margin: 0px 10px;
  }
  main .divPadre .divArriba .divWsp .wsp .bi-whatsapp {
    height: 28px;
    width: 28px;
  }
  main .divPadre .divArriba .divWsp .p {
    font-size: 25px;
  }
  main .divPadre .divAbajo {
    grid-area: divAbajo;
    width: auto;
    padding: 30px 10px;
  }
  main .divPadre .divAbajo .divMpago .tarjC {
    border: 3px solid #567ccf;
    padding: 2px 4px;
  }
  main .divPadre .divAbajo .divMpago .tarjC .bi-credit-card {
    height: 45px;
    width: 45px;
  }
  main .divPadre .divAbajo .divMpago .mercadoPago {
    height: 80px;
    width: 80px;
    border: 3px solid #567ccf;
    border-radius: 40px;
  }
  main .divPadre .divAbajo .divMpago .plata {
    border: 3px solid #567ccf;
    padding: 2px 4px;
  }
  main .divPadre .divAbajo .divMpago .plata .bi-cash-coin {
    height: 45px;
    width: 45px;
  }
  main .divPadre .divAbajo .mediosDePago {
    font-size: 25px;
  }
  main .h2pD {
    font-size: 40px;
  }
  main .carrusel2 .carrousel2 .carousel-inner img {
    height: 70vh;
  }
  main .carrusel2 .carrousel2 .carousel-inner .carousel-caption h5 {
    color: #000000;
    text-shadow: 0 0 5px white;
    font-size: 25px;
  }
  main .carrusel2 .carrousel2 .carousel-inner .carousel-caption p {
    color: #000000;
    text-shadow: 0 0 5px white;
    font-size: 25px;
  }
  main .pDest {
    display: none;
  }
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "divEncontranos divLogoFooter divRedes" "copy copy copy";
  }
  footer .divEncontranos {
    grid-area: divEncontranos;
    border-bottom: none;
    margin-top: 15px;
    width: auto;
    padding: 20px;
  }
  footer .divEncontranos .encontranos {
    font-size: 20px;
  }
  footer .divEncontranos .divE .bi-geo-alt {
    height: 18px;
    width: 18px;
  }
  footer .divEncontranos .divE .h6 {
    font-size: 18px;
  }
  footer .divEncontranos .pSm {
    font-size: 18px;
    text-align: center;
  }
  footer .divLogoFooter {
    grid-area: divLogoFooter;
    border-bottom: none;
    width: auto;
    border-left: 3px solid #567ccf;
    border-right: 3px solid #567ccf;
    padding: 20px;
    width: auto;
  }
  footer .divLogoFooter .logo {
    width: 100px;
    height: 100px;
    border-radius: 50px;
  }
  footer .divLogoFooter .contactanos {
    font-size: 20px;
  }
  footer .divLogoFooter .divF2 .bi-whatsapp {
    height: 20px;
    width: 20px;
  }
  footer .divLogoFooter .divF2 .p {
    font-size: 18px;
  }
  footer .divRedes {
    grid-area: divRedes;
    border-bottom: none;
    width: auto;
    padding: 20px;
    width: auto;
  }
  footer .divRedes .seguinos {
    font-size: 20px;
    text-align: center;
  }
  footer .divRedes .divR .bi {
    height: 20px;
    width: 20px;
  }
  footer .divRedes .divR p {
    font-size: 18px;
  }
  footer .copy {
    grid-area: copy;
  }
}
@media only screen and (min-width: 1024px) {
  header .navbar .logo {
    height: 170px;
    width: 170px;
    border-radius: 85px;
    margin: 20px 20px 0px 20px;
  }
  header .navbar .navbar-collapse .nav-item .nav-link {
    font-size: 25px;
  }
  header .navbar .navbar-collapse .form-inline .form-control::placeholder {
    font-size: 22px;
  }
  header .frase .h4 {
    font-size: 45px;
  }
  .slide .carousel-inner img {
    height: 80vh;
  }
  main .divPadre .divArriba {
    padding: 80px 10px;
  }
  main .divPadre .divArriba .camion {
    border-radius: 15px;
    padding: 8px;
    margin-bottom: 20px;
  }
  main .divPadre .divArriba .camion .bi-truck {
    height: 55px;
    width: 55px;
  }
  main .divPadre .divArriba .realizamosDelivery {
    font-size: 30px;
  }
  main .divPadre .divArriba .divWsp .wsp {
    padding: 10px;
    margin: 0px 10px;
    border-radius: 15px;
  }
  main .divPadre .divArriba .divWsp .wsp .bi-whatsapp {
    height: 35px;
    width: 35px;
  }
  main .divPadre .divArriba .divWsp .p {
    font-size: 28px;
  }
  main .divPadre .divAbajo {
    padding: 80px 10px;
  }
  main .divPadre .divAbajo .divMpago .tarjC {
    border-radius: 15px;
    padding: 10px;
  }
  main .divPadre .divAbajo .divMpago .tarjC .bi-credit-card {
    height: 50px;
    width: 50px;
  }
  main .divPadre .divAbajo .divMpago .mercadoPago {
    height: 100px;
    width: 100px;
    border-radius: 50px;
  }
  main .divPadre .divAbajo .divMpago .plata {
    padding: 10px;
    border-radius: 15px;
  }
  main .divPadre .divAbajo .divMpago .plata .bi-cash-coin {
    height: 45px;
    width: 45px;
  }
  main .divPadre .divAbajo .mediosDePago {
    font-size: 28px;
  }
  main .h2pD {
    font-size: 50px;
  }
  main .carrusel2 {
    display: none;
  }
  main .pDest {
    padding: 40px 0px 40px 0px;
    margin: 5px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "producto1 producto2" "producto3 producto4";
    grid-row-gap: 50px;
    background-color: #9ad5ff;
    border: 2px solid #567ccf;
  }
  main .pDest .producto {
    align-self: center;
    justify-self: center;
    background-color: #ffb379;
    border-radius: 10px;
    border: 4px solid #ffb379;
  }
  main .pDest .producto img {
    border-radius: 8px;
    height: 250px;
    width: 380px;
    background-position: center;
    background-size: cover;
  }
  main .pDest .producto h4 {
    margin-top: 10px;
    text-align: center;
    font-family: "Truculenta", sans-serif;
    font-weight: bold;
    font-size: 30px;
  }
  main .pDest .producto p {
    text-align: center;
    font-family: "Truculenta", sans-serif;
    font-weight: bold;
    font-size: 25px;
  }
  main .pDest .producto1 {
    grid-area: producto1;
  }
  main .pDest .producto2 {
    grid-area: producto2;
  }
  main .pDest .producto3 {
    grid-area: producto3;
  }
  main .pDest .producto4 {
    grid-area: producto4;
  }
}
@media only screen and (min-width: 1160px) {
  header .navbar .logo {
    margin: 30px 35px 0px 35px;
  }
  header .navbar .navbar-collapse .nav-item .nav-link {
    font-size: 28px;
  }
  header .frase .h4 {
    font-size: 55px;
  }
}

/*# sourceMappingURL=estilo.css.map */
